# Dossier des modèles (lourds)
data/
checkpoints/
TEST_DAMIEN_CIFAR10/data/
TEST_DAMIEN_CIFAR10/trained_models/

# Fichiers générés par Python
__pycache__/
*.pyc

# Environnement virtuel
venv/
.venv/
env/

# Fichiers de données générés
*.npy
*.npz

# Fichiers systèmes Mac
.DS_Store