# Dossier des modèles (lourds)
data/
checkpoints/
results/

# Fichiers générés par Python
__pycache__/
*.pyc

# Environnement virtuel
venv/
.venv/
env/

# Fichiers de données générés
*.npy
*.npz

# Fichiers systèmes Mac
.DS_Store

# Fichiers perso
plots.ipynb
